*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: corder-box;
}
body{
    background: #080800;
    color: #fff;
}

#header1{
    width: 100%;
    height: 100vh;
    background-image: url(images/background_glitch_art.png);
    background-repeat: repeat-y;
    background-size: cover;
    background-position: right ;
}
#portfolio_header{
    width: 100%;
    height: 100vh;
    background-color: rgb(36, 36, 36);
    background-size: cover;
    background-position: right ;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    padding-top: 10px;
    padding-left: 2%;
    width: 4%;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 30px;
   
}

nav ul li a{
    color:#ffffff;
    text-decoration: none;
    font-size:18px;
    position: relative;
}

nav ul li a::after{
    content:'';
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    padding-left: 2%;
    margin-top: 10%;
    font-size: 30px;
}
.header-text h1{
    font-size: 65px;
    margin-top: 10px;
}
.header-text p span{
    color:rgb(41, 86, 145);
}

.header-text h1 span{
    color:black;
}

.button_statement{
    padding: 5%;
}

.button{
    border-radius: 12px;
    background-color: bisque;
    border: none;
    color: #663030;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px, 20px;
}

/* --------------------About-------------------- */
#about{
    padding: 10px 0;
    padding-left: 2%;
}
.row{
    text-align: center;
    padding: 50px;
    padding-left: 15%;
    padding-right: 15%;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 10px ;
    }
.about-col-2 {
    flex-basis: 60%;
    padding-right: 55px;
}
.subtext{
    font-size: 65px;
    font-weight: 600;
 
}




/* --------------------Portfolio-------------------- */
#portfolio{
    padding: 10px 0;
    padding-left: 2%;
}

.portfolio_img{
    width: 50%;
    border-radius: 10px ;
}
.bout_me{
    font-size: 30px;
    font-weight: 200;  
}
.center {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .statement-text{
    background-color: #040305;
    opacity: 85%;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    padding: 25px;
    padding-left: 5%;
    padding-right: 5%;
}


/*modular photo*/

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {
    opacity: 0.7;
  }
  
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .modal-content,
  #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {
      transform: scale(0)
    }
    to {
      transform: scale(1)
    }
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 700px) {
    .modal-content {
      width: 100%;
    }
  }
  .fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .wrapper {
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s ease-in-out, visibility 2s ease-in-out;
}

.wrapper.show {
    opacity: 1;
    visibility: visible;
}